@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.wrapper, html, body {
    width: 100%;
    height: 100%;
    background: #0F1523;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img {
    max-width: 90%;
    height: 450px;
}

button {
    max-width: 90%;
}

.info {
    width: 650px;
    max-width: 90%;
    font-size: 24px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.info::after {
    content: " █";
    animation-name: cursor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}

.four-o-four {
    font-size: 88px;
    padding: 0;
    margin: 0;
    max-width: 90%;
}
